---
import { Icon } from "astro-icon/components"
import PostCard from "@/components/PostCard.astro"
import Group from "@/components/Group.astro"
import Grid from "@/components/Grid.astro"
import BaseLayout from "@/layouts/BaseLayout.astro"
import { Image } from "astro:assets"
import { makeSlug } from "@/utils/textConverter"
import Testimonial from "@/components/Testimonial.astro"
import { type CollectionEntry, getCollection } from "astro:content"
import Container from "@/components/Container.astro"

type Props = {
  data: CollectionEntry<"post" | "author">["data"]
  author: CollectionEntry<"author">
}

export async function getStaticPaths() {
  const authors = await getCollection(
    "author",
    ({ data }) => data.status === "publish"
  )

  const paths = authors.map((author) => ({
    params: { name: author.slug },
    props: { author },
  }))
  return paths
}

const { author } = Astro.props
const { name, description, thumbnail } = author.data
const { Content } = await author.render()
const posts = await getCollection(
  "post",
  ({ data }) => data.status === "publish"
)

const postFilterByAuthor = posts.filter(
  (post) => post.data.author.slug === makeSlug(name)
)
---

<BaseLayout
  title={`Author Profile: ${name}`}
  description={description ?? `A list of posts by ${name}`}
>
  {
    description && (
      <Testimonial
        class="testimonial--main"
        textColor="ink-1"
        authorName={name}
        hideCite
      >
        <p set:html={description} />
      </Testimonial>
    )
  }

  <Group type="section" class="group--main">
    <Container>
      <Grid type={["auto-fit", "3:1"]} class="grid--main column-breakout">
        <div class="posts">
          {
            postFilterByAuthor.length > 0 ? (
              <ul role="list" class="posts__list">
                {postFilterByAuthor.map((post) => (
                  <PostCard post={post} class="posts__card" />
                ))}
              </ul>
            ) : (
              <p>This author has no posts</p>
            )
          }
        </div>

        <div class="author flow">
          <div class="author__heading flow">
            {
              thumbnail ? (
                <figure class="author__figure">
                  <Image
                    class="author__thumbnail"
                    width={150}
                    height={150}
                    quality={60}
                    densities={[1, 2]}
                    src={thumbnail}
                    alt={`Headshot of ${name}`}
                  />
                </figure>
              ) : (
                <div class="author__figure">
                  <Icon name="lucide:user" width={36} height={36} />
                </div>
              )
            }

            <h1 class="author__title">
              {name}
            </h1>
          </div>

          <div class="author__summary flow">
            <Content />
          </div>
        </div>
      </Grid>
    </Container>
  </Group>
</BaseLayout>

<style>
  .testimonial--main {
    --_items-margin-inline: auto;
  }

  .group--main {
    --_padding-top: var(--size-fluid-4);
  }

  .grid--main {
    row-gap: var(--size-fluid-5);
    align-items: start;
  }

  .posts__list {
    display: grid;
    gap: var(--size-fluid-5);
  }

  /* .posts__card {
    --_thumbnail-size: min(25%, 10ch);
    --_summary-size: 70%;
  } */

  .author {
    display: grid;
    position: sticky;
    top: var(--size-gutter);
  }

  .author__heading {
    --_flow: var(--size-3);
  }

  .author__title {
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-4);
    font-family: var(--font-serif);
  }

  .author__figure {
    display: grid;
    place-content: center;
    border-radius: var(--radius);
    aspect-ratio: 1/1;
    height: auto;
    width: var(--size-10);
    background-color: var(--surface-overlay);
    color: var(--ink-muted);
    overflow: hidden;
  }

  .author__thumbnail {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
</style>

<style is:global>
  .author__summary p {
    color: var(--ink-2);
    font-size: var(--font-size-1);
  }
</style>
