---
import { site, logo } from "@/data/config.json"
import NavToggle from "@/components/NavToggle.astro"
import Navigation from "@/components/Navigation.astro"


---

<header id="main-header">
  <div class="container">
    <a href={site.url}
      ><img
        src={logo.image}
        width={logo.width}
        height={logo.height}
        alt=""
      /><span class="sr-only">{site.title}</span></a
    >
     <Navigation />
     <NavToggle />
  </div>
</header>

<style>
  header {
    padding-block: var(--size-4); 
  }

  header > .container {
    display: flex;
    justify-content: space-between;
  }
</style>
