---
import config, { site } from "@/data/config.json"
import { Image } from "astro:assets"

type Props = {
  src?: string
  srcDarkmode?: string
}

type LogoConfig = {
  image: string
  imageDarkMode: string
  width: number
  height: number
}

type ThemeSwitcherConfig = {
  themeSwitcher: boolean
}



const {
  image: logoImage,
  imageDarkMode: logoDarkMode,
  width: logoWidth,
  height: logoHeight,
}: LogoConfig = config.logo

const { themeSwitcher }: ThemeSwitcherConfig = config.settings

const { src, srcDarkmode } = Astro.props
---

<a href={site.url}>

  <template x-if="darkMode === 'dark' || (darkMode === 'system' && window.matchMedia('(prefers-color-scheme: dark)').matches)">

    <Image
    src={logoDarkMode}
    class="logo-darkmode"
    :class="{'logo--inactive': darkMode === 'light' || (darkMode === 'system' && !window.matchMedia('(prefers-color-scheme: dark)').matches)}"
    width={logoWidth}
    height={logoHeight}
    alt={site.title}
  />
    </template>



    <template x-if="darkMode === 'light' || (darkMode === 'system' && !window.matchMedia('(prefers-color-scheme: dark)').matches)">
      <Image 
      src={src ? src : logoImage}
      
      class="logo-lightmode"
      
      width={logoWidth}
      height={logoHeight}
      alt={site.title}
      />
    </template>



  <span class="sr-only"> {site.title}</span>
</a>



