---
import type { ConfigObj } from '@/data/config.types';
import config from "@/data/config.json"
import { Image } from "astro:assets"

// type Props = {
//   imageSrc?: string
// }




const {
  image: logo,
  imageDarkMode: logoDarkMode,
  width: logoWidth,
  height: logoHeight,
}: ConfigObj['logo'] = config.logo;



// const { 
//   themeSwitcher 
// }: ConfigObj['settings'] = config.settings

// const { imageSrc } = Astro.props
---

<a class="site-logo" href={config.site.url}>

{logo && (
  <template x-if="theme === 'light' || (theme === 'auto' && !window.matchMedia('(prefers-color-scheme: dark)').matches)">
  <Image 
  src={logo}
  class="logo-lightmode"
  width={logoWidth}
  height={logoHeight}
  alt={config.site.title}
  />
</template>
)}


{logo && logoDarkMode && (
<template x-if="theme === 'dark' || (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches)">
  <Image
  src={logoDarkMode}
  class="logo-darkmode"
  width={logoWidth}
  height={logoHeight}
  alt={config.site.title}
/>
</template>
)}

  <span class={logo ? 'sr-only' : null}>{config.site.title}</span>
</a>

<style>
  .site-logo {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-4);
  }
</style>

