---
import { Icon } from 'astro-icon'
import navigation from "@/data/navigation.json"
import { slugify } from "@/utils/textConverter"

type ChildItem = {
  name: string
  url: string
  target?: string
  rel?: string
}

type NavigationItem = {
  name: string
  url: string
  target?: string
  rel?: string
  childItems?: ChildItem[]
}

const { pathname } = Astro.url
// const currentPage = Astro.url.pathname
---

<nav class="nav-primary" id="primary-navigation">
  <ul role="list" class="nav-primary__list">
    {
      navigation.map((nav: NavigationItem) => (
        <li
          class={`nav-primary__item ${
            nav.childItems ? "nav-primary__item--parent" : ""
          }`}
        >
          {nav.childItems ? (
            <a
              role="button"
              data-toggle="subnav"
              aria-haspopup="true"
              aria-expanded="false"
              href="#0"
              class={`nav-primary__link nav-primary__link--parent ${
                nav.childItems?.some(
                  (child: ChildItem) =>
                    child.url === pathname || `${child.url}/` === pathname,
                )
                  ? "active"
                  : ""
              }`}
            >
              {nav.name} <Icon name="bx:bxs-chevron-down" />
            </a>
          ) : (
            <a
              href={nav.url}
              id={`nav-primary__link--${slugify(nav.name).toLowerCase()}`}
              class={`nav-primary__link ${
                pathname === `${nav.url}/` || pathname === nav.url
                  ? "active"
                  : ""
              }`}
              aria-current={
                pathname === `${nav.url}/` || pathname === nav.url
                  ? "page"
                  : undefined
              }
              target={nav.target}
              rel={nav.rel || (nav.target ? "noopener noreferrer" : undefined)}
            >
              {nav.name}
            </a>
          )}

          {nav.childItems && (
            <ul
              role="list"
              id="subnav"
              class="nav-sub__list"
              aria-hidden="true"
            >
              {nav.childItems.map((child: ChildItem) => (
                <li class="nav-primary__item nav-primary__item--child">
                  <a
                    id={`nav-primary__link--${slugify(
                      child.url,
                    ).toLowerCase()}`}
                    href={child.url}
                    class={`nav-primary__link nav-primary__link--child ${
                      pathname === `${child.url}/` || pathname === child.url
                        ? "active"
                        : ""
                    }`}
                    aria-current={
                      pathname === `${child.url}/` || pathname === child.url
                        ? "page"
                        : undefined
                    }
                    target={child.target}
                    rel={
                      child.rel ||
                      (child.target ? "noopener noreferrer" : undefined)
                    }
                  >
                    {child.name}
                  </a>
                </li>
              ))}
            </ul>
          )}
        </li>
      ))
    }
  </ul>
</nav>

<script>
  var submenuToggles = document.querySelectorAll<HTMLElement>(
    '[data-toggle="subnav"]',
  )

  submenuToggles.forEach(function (toggleElement) {
    toggleElement.addEventListener("click", function (event) {
      event.preventDefault()
      toggleSubmenu(toggleElement)
    })
  })

  function toggleSubmenu(toggleElement: HTMLElement) {
    var submenu = toggleElement.nextElementSibling

    // Add a null check before using submenu
    if (submenu) {
      var expanded = toggleElement.getAttribute("aria-expanded") === "true"

      // Close all other submenus
      submenuToggles.forEach(function (otherToggleElement) {
        if (otherToggleElement !== toggleElement) {
          closeSubmenu(otherToggleElement)
        }
      })

      // Toggle the clicked submenu
      toggleElement.setAttribute("aria-expanded", String(!expanded))
      submenu.setAttribute("aria-hidden", String(expanded ? "true" : "false"))
    }
  }

  function closeSubmenu(toggleElement: HTMLElement) {
    var submenu = toggleElement.nextElementSibling

    // Add a null check before using submenu
    if (submenu) {
      toggleElement.setAttribute("aria-expanded", "false")
      submenu.setAttribute("aria-hidden", "true")
    }
  }

  document.body.addEventListener("click", function (event) {
    if (
      event.target instanceof HTMLElement &&
      !document.getElementById("primary-navigation")?.contains(event.target)
    ) {
      closeAllSubmenus()
    }
  })

  document.addEventListener("keydown", function (event) {
    if (event.key === "Escape") {
      closeAllSubmenus()
    }
  })

  function closeAllSubmenus() {
    submenuToggles.forEach(function (toggleElement) {
      closeSubmenu(toggleElement)
    })
  }
</script>

<style is:global>
  .nav-primary {
    display: flex;
    max-height: 0;
    overflow: hidden;

    flex: 1 1 100%;

    visibility: hidden;
    opacity: 0;
    transition: all ease-in 300ms;

    @media (--lg-n-above) {
      opacity: unset;
      max-height: unset;
      visibility: unset;
      overflow: unset;
      display: flex;
      flex: 0 1 auto;
      align-items: center;
      padding-inline: var(--gutter);
    }
  }

  .nav-primary.show {
    opacity: 1;
    visibility: visible;

    max-height: 100svh;
    overflow-y: auto;
  }

  .nav-primary.hiding {
    transition: all ease-out 300ms;
  }

  .nav-primary__list {
    flex: 1 1 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-block: var(--gutter);
    @media (--lg-n-above) {
      padding: unset;
      overflow: initial;
      flex-direction: initial;
    }
  }

  .nav-primary__item {
    /* unset open props */
    max-inline-size: unset;
  }

  .nav-primary__link {
    display: flex;
    padding-block: var(--size-2);
    font-weight: var(--font-weight-5);
    @media (--lg-n-above) {
      padding: var(--size-2) var(--size-3);
    }
  }



  /* child */

  .nav-primary__item--parent {
    position: relative;
    /* overflow: hidden; */
  }

  .nav-sub__list {
    transition: all linear 300ms;

    @media (--lg-n-above) {
      transition: all ease 250ms;
      z-index: 4;
      position: absolute;
      top: calc(100% + var(--size-2));
      background: var(--surface-0);
     border: var(--border-size-1) solid var(--surface-2);
      right: var(--size-3);
      min-width: var(--size-content-1);
      overflow: hidden;
      padding-block: var(--size-2);
    }
  }

  .nav-sub__list[aria-hidden="true"] {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
  }

  .nav-sub__list[aria-hidden="false"] {
    visibility: visible;
    opacity: 1;
    max-height: 100svh;
    overflow: visible;
  }

  .nav-primary__link--parent [astro-icon] {
    color: currentColor;
    width: var(--size-relative-6);
    height: auto;
  }

</style>
