---
import { Icon } from "astro-icon/components"
import StyledLink from "@/components/StyledLink.astro"
import "@/styles/components/pagination.css"
// Pagination Props type helpers
export type NumericalString = `${number}`
export type RouteString = string | null | undefined

type Props = {
  firstPage?: RouteString
  previousPage?: RouteString
  nextPage?: RouteString
  lastPage?: RouteString
  currentPage?: string | number
  totalPages?: NumericalString | number,
  class?: string
}

const {
  // firstPage = "#",
  previousPage = "#",
  nextPage = "#",
  // lastPage = "#",
  currentPage = "1",
  totalPages = "12",
  class: className,
  ...restProps
} = Astro.props
---

<nav class:list={['pagination', className]}= aria-label="Pagination" {...restProps}>
  <ul role="list" class="pagination__list">
    {
      previousPage ? (
      <li class="pagination__item">
          <StyledLink>
            <Icon aria-hidden="true" name="lucide:move-left" />{" "}
            <a href={previousPage} aria-label={`Go back to ${previousPage}`}>
              <span aria-hidden="true">Previous Page</span>
            </a>
          </StyledLink>
        </li>
      ) : (
        <li class="pagination__item" aria-hidden="true">&nbsp;</li>
      )
    }

    <li class="pagination__item">
      <span class="pagination__status">Page {currentPage} of {totalPages}</span>
    </li>

    {
      nextPage ? (
        <li class="pagination__item">
          <StyledLink>
            <a href={nextPage} aria-label={`Go to ${nextPage}`}>
              <span aria-hidden="true">Next Page</span>
            </a>{" "}
            <Icon aria-hidden="true" name="lucide:move-right" />
          </StyledLink>
        </li>
      ) : (
        <li class="pagination__item" aria-hidden="true">&nbsp;</li>
      )
    }
  </ul>
</nav>
