---
import { Icon } from 'astro-icon/components';
import StyledLink from '@/components/StyledLink.astro';
// Pagination Props type helpers
export type NumericalString = `${number}`
export type RouteString = string | null | undefined

type Props = {
  firstPage?: RouteString
  previousPage?: RouteString
  nextPage?: RouteString
  lastPage?: RouteString
  currentPage?: string | number
  totalPages?: NumericalString | number
}

const {
  firstPage = '#',
  previousPage = '#',
  nextPage = '#',
  lastPage = '#',
  currentPage = '1',
  totalPages = '12',
} = Astro.props
---

<nav class="pagination" aria-label="Pagination">
  <ul role="list" class="pagination__list">
   
    <li>
      {
        previousPage ? (
          <StyledLink>
            <Icon name="bx:left-arrow-alt" /> <a href={previousPage} aria-label={`Go back to ${previousPage}`}>Previous Page</a>
          </StyledLink>
          
        ) : (
        <StyledLink className="disabled">
            <Icon name="bx:left-arrow-alt" /> Previous Page
        </StyledLink>
        )
      }
    </li>
    <li>
      <span class="pagination__status">Page {currentPage} of {totalPages}</span>
    </li>
    <li>
      {
        nextPage ? (
        <StyledLink>
          <a href={nextPage} aria-label={`Go to ${nextPage}`}>Next Page</a> <Icon name="bx:right-arrow-alt" />
          </StyledLink>
        ) : (
        <StyledLink className="disabled">
          Next Page <Icon name="bx:right-arrow-alt" />
          </StyledLink>
        )
      }
    </li>
   
  </ul>
</nav>

<style is:global>
  
  .pagination__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--size-3);
    flex-wrap: wrap;
  }




  .pagination__list > * > * {
      margin-inline: auto;
      text-wrap: nowrap;
  }





.pagination .disabled {

  opacity: .7;
  cursor: not-allowed;

}

.pagination [data-icon] {
    width: var(--size-relative-7);
    height: auto;
    flex: 1 0 auto;

    
}
.pagination__status {
  
  color: var(--text-2);
}

.pagination li {
  display: flex;

}

.pagination li:has(a)  {
  color: var(--link);
}
</style>

