---
import { Image } from "astro:assets"
import FormattedDate from "@/components/FormattedDate.astro"
import { getEntry, type CollectionEntry } from "astro:content"


import Taxonomy from "@/components/Taxonomy.astro"

type Props = {
  post: CollectionEntry<"postCollection">
}

const { post } = Astro.props
const { author, description, title, date, dateUpdated, thumbnail, thumbnailAlt, tags, categories } = post.data

const { data: authorData } = await getEntry("authorCollection", author.slug)
---

<article class="post-card">
  <div>
    {thumbnail && <Image width={720} height={360} src={thumbnail} alt="" />}

    <h2>{title}</h2>
    <div class="meta">
      <p><a href=`/author/${author.slug}`>{authorData.name}</a></p>
      <span>•</span>
      <FormattedDate date={date} />

      <p>Categories</p>
      <ul class="tax-container">
        {
          categories &&
            categories.map((category) => (
              <li>
                <Taxonomy type="category" name={category} />
              </li>
            ))
        }
      </ul>

      <p>Tags</p>
      <ul class="tags-container">
        {
          tags &&
            tags.map((tag) => (
            <li>
                <Taxonomy type="tag" name={tag} />
              </li>
            ))
        }
      </ul>
    </div>
  </div>
  <p>{description}</p>
  <a href={`/${post.slug}`}>Read Post</a>
</article>
