---
import { Image } from "astro:assets"
import FormattedDate from "@/components/FormattedDate.astro"
import { getEntry, type CollectionEntry } from "astro:content"

import Taxonomy from "@/components/Taxonomy.astro"

type PostOptions = {
  hideImage?: boolean;
};

type Props = {
  post: CollectionEntry<"postCollection">
} & PostOptions



const { post, hideImage } = Astro.props



const {
  author,
  description,
  title,
  date,
  thumbnail,
  thumbnailAlt = "",
  tags,
  categories,
} = post.data

const { data: authorData } = await getEntry("authorCollection", author.slug)



---

<article class="entry-card">
  {
    thumbnail && !hideImage && (
      <figure class="entry-card__figure">
        <a href={`/${post.slug}`}>
        <Image
          class="entry-card__image"
          width={400}
          height={400}
          densities={[1, 2]}
          quality={50}
          src={thumbnail}
          alt={thumbnailAlt}
        />
      </a>
      </figure>
    )
  }

  <div class="entry-card__content">
    <h2 class="entry-card__title"><a href={`/${post.slug}`}>{title}</a></h2>
    <div class="entry-card__meta">
      <FormattedDate date={date} />
      – by <a href=`/author/${author.slug}`>{authorData.name}</a> in
      <Taxonomy type="category" name={categories[0]} />
    </div>

    <p class="entry-card__description">{description}</p>

    
  </div>
</article>

<style>
  .entry-card {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-fluid-3);
    
  }

  .entry-card > *:first-child {
    flex-basis: var(--size-content-1);
    flex-grow: 1;

    
  }


  .entry-card > *:last-child {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 60%;
  }

  .entry-card__figure a {
    width: 100%;

  }
  .entry-card__image {
    aspect-ratio: 1/1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: var(--radius-3);
  }
  .entry-card__title {
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-4);
    font-family: var(--font-serif);
  }
  .entry-card__content {
    display: flex;
    flex-direction: column;
    gap: var(--size-3);

  }

  .entry-card__meta {
    font-size: var(--font-size-1);
    color: var(--text-2);
  }

  .entry-card__description {
    font-size: var(--font-size-1);
    color: var(--text-2);
  }
</style>
