---
import { Image } from "astro:assets"

type Props = {
  authorName?: string
  thumbnail?: any
  jobTitle?: string
  organization?: string
  textColor?: string
  surfaceColor?: string
  hideCite?: boolean
  class?: string
  style?: any
}

const {
  class: className,
  authorName,
  jobTitle,
  organization,
  textColor,
  surfaceColor,
  hideCite,
  thumbnail,
  ...restProps
} = Astro.props

const styles = {
  ...(textColor ? { "--_text": `var(--${textColor})` } : {}),
  ...(surfaceColor ? { "--_surface": `var(--${surfaceColor})` } : {}),
}
---

<section
  itemscope
  itemtype="http://schema.org/Quote"
  class="testimonial section flow container"
  style={{
    ...styles,
    ...restProps.style
  }}
  {...restProps}
>
  <blockquote class="testimonial__quote">
    <slot />
    {
      authorName && (
        <footer class:list={[`testimonial__footer`, hideCite ? `sr-only`: '']}>
          {authorName && (
            <cite 
              class="testimonial__cite"
              itemprop="author"
              itemscope
              itemtype="http://schema.org/Person"
            >
            {thumbnail && !hideCite && <Image 
              src={thumbnail}
              class="testimonial__image"
              width={60}
              height={60}
              alt={authorName} 
              densities={[1, 2]}
              quality={50}
              itemprop="image"
              />
            }

              <span><span class="testimonial__author" itemprop="name">{authorName}</span>{jobTitle ? `, ` : null}{jobTitle ? <span itemprop="jobTitle">{jobTitle}</span> : ""}</span>
            </cite>
          )}
          {organization && (
            <span
              class="testimonial__affiliation"
              itemprop="affiliation"
              itemscope
              itemtype="http://schema.org/Organization"
            >
              <span itemprop="name">{organization}</span>
            </span>
          )}
        </footer>
      )
    }
  </blockquote>
</section>

<style is:global>
  .testimonial {
    --_text: initial;
    --_surface: initial;
    --_font-size-quote: var(--font-size-6);
    --_font-size-author: var(--font-size-2);
    --_font-size-affiliation: var(--font-size-1);

    background: var(--_surface);
    text-align: center;
  }

  .testimonial {
    color: var(--_text);
  }

  .testimonial__quote {
    max-inline-size: var(--size-content-4);
    padding-block: unset;
    padding-inline: unset;
    border: 0;
    margin-inline: auto;
    display: grid;
    gap: var(--size-fluid-5);
  }

  .testimonial__quote p {
    font-family: var(--font-serif);
    font-size: var(--_font-size-quote);
    font-style: italic;
    position: relative;
    line-height: var(--font-lineheight-1);
  }

  .testimonial__cite {
    font-style: normal;
    padding-inline-start: unset;
    border-inline-start-width: unset;
    border: 0;
    display: flex;
    flex-direction: column;
    gap: var(--size-3);
  }

  .testimonial__author {
    font-size: var(--_font-size-author);
  }

  .testimonial__affiliation {
    display: block;
    opacity: 0.7;
    font-size: var(--_font-size-name);
  }

  .testimonial__image {
    border-radius: var(--radius-round);
    margin-inline: auto;
    overflow: hidden;
  }
</style>
