---
import '@fontsource/cardo';
import '@fontsource/cardo/400-italic.css';
import "../styles/app.css"
import type { ConfigObj } from "@/types/config.types"
import config from "@/data/config.json"
import SkipLink from "@/components/SkipLink.astro"
import Header from "@/components/Header.astro"
import Footer from "@/components/Footer.astro"


type Props = {
  title: any
  description: any
  thumbnail?: any
}

const {
  language: siteLanguage,
  favicon: siteFavicon,
  title: siteTitle,
}: ConfigObj["site"] = config.site

const { ogImage, ogType, twitter }: ConfigObj["metadata"] = config.metadata

const canonicalURL = new URL(Astro.url.pathname, Astro.site)

const { title, description, thumbnail = ogImage.url } = Astro.props
---

<html
  lang={siteLanguage}
  class="no-js"
  x-data="{ theme: $persist('auto').as('theme') }"
  x-init="() => { document.documentElement.setAttribute('data-theme', theme);}"
  x-cloak
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" href="/images/favicon.ico" sizes="32x32">
    <link rel="icon" type="image/svg+xml" href={siteFavicon} />

    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">

    <meta name="generator" content={Astro.generator} />

    <link rel="canonical" href={canonicalURL} />

    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    {/* Sitemap */}
    <link rel="sitemap" href="/sitemap-index.xml" />

    {/* RSS auto-discovery */}
    <link
      rel="alternate"
      type="application/rss+xml"
      title={siteTitle}
      href="/rss.xml"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content={ogType || "website"} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL(thumbnail, Astro.url)} />
    {ogImage.alt && <meta property="og:image:alt" content={ogImage.alt} />}
    {
      ogImage.width && (
        <meta property="og:image:width" content={ogImage.width.toString()} />
      )
    }
    {
      ogImage.height && (
        <meta property="og:image:height" content={ogImage.height.toString()} />
      )
    }

    <meta
      property="twitter:card"
      content={twitter.cardType || "summary_large_image"}
    />
    {twitter.site && <meta name="twitter:site" content={twitter.site} />}
    {twitter.handle && <meta name="twitter:creator" content={twitter.handle} />}
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={new URL(thumbnail, Astro.url)} />
    {ogImage.alt && <meta property="twitter:image:alt" content={ogImage.alt} />}

    <script is:inline>
      document.documentElement.classList.remove("no-js")
    </script>
  </head>

  <body>
    <SkipLink />
    <Header />
    <main id="main">
      <slot />
    </main>

    <Footer />
  </body>
</html>

<script>
  import Alpine from "alpinejs"
  import persist from "@alpinejs/persist"

  Alpine.plugin(persist)

  window.Alpine = Alpine

  Alpine.start()
  
</script>

<style is:global>
  @import "@/styles/themes/global.css";
  
  [x-cloak] {
    display: none !important;
  }

  
</style>
