---
import { Icon } from "astro-icon/components"
import "@/styles/layouts/entry.css"
import { breakLongTitle } from "@/utils/textConverter"
import { type CollectionEntry } from "astro:content"


import BaseLayout from "@/layouts/BaseLayout.astro"

import { Image } from "astro:assets"

type Props = {
  frontmatter: CollectionEntry<"page">
  class?: string
  style?: any
}

const { frontmatter, class: className, ...restProps } = Astro.props

const { title, thumbnail, thumbnailAlt, thumbnailSize, thumbnailCredit, contentSize } =
  frontmatter.data

  function getColumnOption(size: string | undefined) {
  return size === "full"
    ? "column-full"
    : size === "breakout"
      ? "column-breakout"
      : size === "content"
        ? "column-content"
        : "column-passage"
}

const contentSizeOption = getColumnOption(contentSize)
const thumbnailSizeOption = getColumnOption(thumbnailSize)
---

<BaseLayout
  title={frontmatter.data.title}
  description={frontmatter.data.description}
>
  <article class:list={["entry section container", className]} {...restProps}>
    {
      thumbnail && (
        <figure class={`entry__figure ${thumbnailSizeOption}`}>
          <Image
            class="entry__thumbnail"
            quality={60}
            densities={[1, 2]}
            src={thumbnail}
            alt={thumbnailAlt ? thumbnailAlt : ""}
            width={thumbnail.width / 2}
            height={thumbnail.height / 2}
            loading="eager"
          />
        </figure>
      )
    }

    <div class={`entry__heading flow ${contentSizeOption}`}>
      <h1
        set:html={breakLongTitle(title)}
        class="entry__title"
        style={!thumbnail ? "font-size: var(--font-size-fluid-3)" : ""}
      />
    </div>

    <div
      class:list={[
        `entry__prose flow container column-full`,
        contentSize ? `entry__prose--${contentSize}` : ``,
      ]}
    >

      <slot />
    </div>

    <footer class="entry__footer">
      {
        thumbnailCredit && (
          <p class="entry__thumbnail__credit">
            <Icon name="lucide:copyright" /> <span set:html={thumbnailCredit} />
          </p>
        )
      }
    </footer>
  </article>
</BaseLayout>

<style is:global>
  :where(.entry__prose > *) {
    --_container-column: column-passage;
  }

  .entry__prose--content > * {
    --_container-column: column-content;
  }

  .entry__prose--breakout > * {
    --_container-column: column-breakout;
  }
</style>
